<% @articles.each do |article| %>
<div class="row">
    <div class="col-sm-10">
        <h2>
            <%= article.title %>
        </h2>
        <p>
            <%= article.text %>
        </p>
    </div>

    <div class="col-sm-2 btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle clicker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Option
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><%= link_to 'Show', article_path(article) %></li>
            <li><%= link_to 'Edit', edit_article_path(article) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></li>
        </ul>
    </div>
</div>
<hr>
<% end %>
